td{
    font-size: 10px;
    border: 2px solid white;
}
.violet{
    background-color: rgb(156,147,196);
    text-align: center;
}
.bleu1{
    background-color: rgb(132,184,215);
    text-align: center;
}
.bleu2{
    background-color: rgb(132,177,163);
    text-align: center;
}
.bleu3{
    background-color: rgb(205,235,200);
    text-align: center;
}
.orange1{
    background-color: rgb(254,206,160);
    text-align: center;
}
.orange2{
    background-color: rgb(254,236,185);
    text-align: center;
}
.orange3{
    background-color: rgb(248,167,142);
    text-align: center;
}
.vert{
    background-color: rgb(240,249,193);
    text-align: center;
}
.violet1{
    background-color: rgb(230,139,149);
    text-align: center;
}
.violet2{
    background-color: rgb(197,103,142);
    text-align: center;
}
.A{
    font-size: 17px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.foto{
        width: 50px;
        margin: auto;
    
    }
    .A{
        font-size: 11px;
    }
    img{
        width: 100px;
        height: 150px;
        margin: auto;
    }

@media screen and (max-width:1280px){
    
    td{
        font-size: 7px;
        border: white solid 1px;
    }
    .foto{
        width: 50px;
    
    }
    .A{
        font-size: 11px;
    }
    img{
        width: 100px;
        height: 150px;
    }
    table{
        width: 85%;
    }

    
}

@media screen and (max-width:900px){
    
    td{
        font-size: 3px;
        border: white solid 1px;
    }
    .foto{
        width: 50px;
        margin: auto;
    
    }
    .A{
        font-size: 5px;
    }
    img{
        width: 100px;
        height: 150px;
        margin: auto;

    }
    table{
        width: 80%;
        margin: auto;
    }
    
}
@media screen and (max-width:320px){
    td{
        font-size: 3px;
        border: white solid 1px;
    }
    .foto{
        width: 50px;
        margin: auto;
    
    }
    .A{
        font-size: 5px;
    }
    img{
        width: 100px;
        height: 150px;
        margin: auto; 
    }
    table{
        width: 50%;
        margin: auto;
    }
    

}
